package photodir

templ layout() {
	<!DOCTYPE html>
	<html>
		<head>
			<title>photodir</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

templ pageIndex() {
	@layout() {
		<h1>Hi!</h1>
	}
}
